{
  "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose": false }],
      "@babel/plugin-proposal-private-methods"
      // In contrast to MobX 4/5, "loose" must be false!    ^
  ]
}